<nz-card [nzBordered]="false">
  <ng-container *ngIf="vehicle">
    <!-- Contenu du card avec les détails du véhicule -->
    <div nz-row nzGutter="16">

            <div nz-col nzSpan="8">
              <h4>Type:</h4>
              <p>{{ vehicle.type }}</p>
            </div>
            <div nz-col nzSpan="8">
              <h4>Brand:</h4>
              <p>{{ vehicle.brand }}</p>
            </div>
            <div nz-col nzSpan="8">
              <h4>Model:</h4>
              <p>{{ vehicle.model }}</p>
            </div>
          </div>
          <div nz-row nzGutter="16">
            <div nz-col nzSpan="8">
              <h4>License Plate:</h4>
              <p>{{ vehicle.license_plate }}</p>
            </div>
            <div nz-col nzSpan="8">
              <h4>Seats:</h4>
              <p>{{ vehicle.seats }}</p>
            </div>
            <div nz-col nzSpan="8">
              <h4>Available:</h4>
              <p>{{ vehicle.available ? 'Yes' : 'No' }}</p>
            </div>

    </div>
    <!-- Bouton Suivant -->
    <div nz-row nzJustify="center">
      <div nz-col nzSpan="24" style="text-align: center;">
        <button nz-button nzType="primary" (click)="ngAfterViewInit()">Suivant</button>
      </div>
    </div>
  </ng-container>
</nz-card>
