<button nz-button nzType="primary" (click)="addVehicle()">Ajouter un véhicule</button>
<br> <p></p>

<div class="row mb-4">
  <div class="col-md-9"></div>
  <div class="col-md-3">
    <nz-input-group nzPrefixIcon="search">
      <input [(ngModel)]="searchTerm" (ngModelChange)="searchVehicles()" type="text" nz-input placeholder="Rechercher...">
    </nz-input-group>
  </div>
</div>

<nz-table #basicTable [nzData]="filteredVehicles">
  <thead>
    <tr>
      <th>Immatriculation</th>
      <th>Marque</th>
      <th>Model</th>
      <th>Nbre Sièges</th>
      <th>Type</th>
      <th>Disponible</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.license_plate }}</td>
      <td>{{ data.brand }}</td>
      <td>{{ data.model }}</td>
      <td>{{ data.seats }}</td>
      <td>{{ data.type }}</td>
      <td>
        <nz-badge [nzStatus]="data.available ? 'success' : 'error'" [nzText]="data.available ? 'Oui' : 'Non'"></nz-badge>
      </td>
      <td>
        <button nz-button nzType="primary" (click)="viewDetails(data.id)">Détails</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="default" (click)="editVehicle(data.id)">Modifier</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" nzDanger (click)="deleteVehicle(data.id)"  [disabled]="data.available == false">Supprimer</button>
      </td>
    </tr>
  </tbody>
</nz-table>
