<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    [nzCollapsedWidth]="80"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item>
          <span nz-icon nzType="dashboard"></span>
          <span>Dashboard</span>
        </li>
        <li nz-submenu nzTitle="Vehicle" nzIcon="car">
          <ul>
            <li nz-menu-item [routerLink]="['/admin/vehicle/create']">Ajouter Vehicle</li>
            <li nz-menu-item [routerLink]="['/admin/vehicle/']">Liste Vehicles</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Transport" nzIcon="car">
          <ul>
            <li nz-menu-item [routerLink]="['/admin/transport/create']">Ajouter Transport</li>
            <li nz-menu-item [routerLink]="['/admin/transport']">Liste Transports</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Expedition" nzIcon="car">
          <ul>
            <li nz-menu-item [routerLink]="['/admin/expedition/create']">Ajouter une Expédition</li>
            <li nz-menu-item [routerLink]="['/admin/expedition']">Liste Expéditions</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="User" nzIcon="user">
          <ul>
            <li nz-menu-item [routerLink]="['/user']">
              <span>User Page</span></li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Settings" nzIcon="setting">
          <ul>
            <li nz-menu-item [routerLink]="['/admin']">Setting Admin</li>
          </ul>
        </li>
      </ul>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-header [ngClass]="{'collapsed-header': isCollapsed, 'expanded-header': !isCollapsed}">
      <div class="app-header">
        <div class="header-left">
          <span class="header-trigger"
            (click)="isCollapsed = !isCollapsed"
            nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'">
          </span>
        </div>
        <div class="header-center">
          <nz-input-group nzSuffixIcon="search">
            <input type="text" nz-input placeholder="Search..." class="search-input">
          </nz-input-group>
        </div>
        <div class="header-right">
          <span nz-icon nzType="bell" class="notification-icon"></span>
          <div nz-dropdown [nzDropdownMenu]="menu" class="user-dropdown">
            <nz-avatar [nzSrc]="user.avatar" class="user-avatar"></nz-avatar>
            <span class="user-name">{{ user.name }}</span>
          </div>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="profile()">Profile</li>
              <li nz-menu-item class="logout" (click)="logout()">Logout</li>
            </ul>
          </nz-dropdown-menu>
          <button nz-button nzType="text" class="theme-toggle" (click)="toggleTheme()">
            <span nz-icon [nzType]="theme === 'light' ? 'moon' : 'sun'" class="theme-icon"></span>
          </button>
        </div>
      </div>
    </nz-header>
    <nz-content [ngClass]="{'collapsed-content': isCollapsed, 'expanded-content': !isCollapsed}">
      <div class="page-title-container">
        <div class="page-title">{{ title }}</div>
      </div>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>LogiTrack ©2020 Implement By AQUILAS</nz-footer>
  </nz-layout>
</nz-layout>
<div #containerRef></div>
