<nz-table #basicTable [nzData]="getFilteredExpeditions()" class="single-line-table">
  <thead>
    <tr>
      <th
        [nzSortFn]="sortFnNumber"
        [nzSortPriority]="1"
      >Numéro</th>
      <th
        [nzFilters]="listOfTypeFilter"
        [nzFilterFn]="filterFnType"
      >Type</th>
      <th>Départ</th>
      <th>Destination</th>
      <th
        [nzSortFn]="sortFnDate"
        [nzSortPriority]="2"
      >Date départ</th>
      <th>Date livraison prévue</th>
      <th
        [nzFilters]="listOfStatusFilter"
        [nzFilterFn]="filterFnStatus"
      >Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.expedition_number }}</td>
      <td>{{ data.type }}</td>
      <td>{{ data.origin }}</td>
      <td>{{ data.destination }}</td>
      <td>{{ data.date_expedition }}</td>
      <td>{{ data.date_livraison_prevue }}</td>
      <td><nz-badge [nzStatus]="getStatusType(data.status)" [nzText]="data.status"></nz-badge></td>
      <td>
        <button nz-button nzType="primary" (click)="viewDetails(data.id)" [disabled]="data.status === 'en transit'">Détails</button>
      </td>
    </tr>
  </tbody>
</nz-table>
