.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.ant-result-icon {
  margin-bottom: 24px;
  text-align: center;
  justify-content: center;
  display: flex;
}

.ant-result-icon {
  margin-bottom: 24px;
  text-align: center;
  justify-content: center;
  display: flex;
}