<div>
  <header>
    <div class="header-content">
      <div class="logo-container">
        <img src="assets/logiTrack.png" alt="Logo" class="logo-img" />
        <span class="logo-text">ACCUEIL</span>
      </div>
      <div class="auth-buttons">
        <button nz-button nzType="default" (click)="showLogin()">Connexion</button>
        <button nz-button nzType="primary" (click)="showRegister()">Inscription</button>
      </div>
    </div>
  </header>

  <nz-content>
    <nz-carousel [nzAutoPlay]="true" [nzEffect]="'fade'" [nzAutoPlaySpeed]="6000">
      <div nz-carousel-content *ngFor="let image of images">
        <div
          style="
            background-image: url('{{ image }}');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 92vh;
            width: 100vw;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: white;
            text-align: center;
          "
        >
          <div style="font-size: 48px; margin-bottom: 20px;">
            <strong>LogiTrack</strong>
            <p style="margin: 0;">Gestion des Transports</p>
          </div>
          <div class="time-display" style="font-size: 64px;">
            {{ currentTime }}
          </div>
        </div>
      </div>
    </nz-carousel>
  </nz-content>
</div>
