
<button nz-button nzType="primary" (click)="addVehicle()" >Ajouter un véhicule</button>
<br> <p></p>

<nz-table #basicTable [nzData]="vehicles">
  <thead>
    <tr>
      <th>Immatriculation</th>
      <th>Marque</th>
      <th>Model</th>
      <th>Nbre Sièges</th>
      <th>Type</th>
      <th>Disponible</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.license_plate }}</td>
      <td>{{ data.brand }}</td>
      <td>{{ data.model }}</td>
      <td>{{ data.seats }}</td>
      <td>{{ data.type }}</td>
      <td>{{ data.available ? 'Oui' : 'Non'  }}</td>
      <td>
        <button nz-button nzType="primary" (click)="viewDetails(data.id)" >Détails</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" (click)="editVehicle(data.id)" nzWarning>Modifier</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" (click)="deleteVehicle(data.id)" nzDanger>Supprimer</button>
      </td>
    </tr>
  </tbody>
</nz-table>
